body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}
#team {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}
.card {
    /* background-color: red; */
    width: 200px;
    box-shadow: 0 0 30px #999;
    border-radius: 5px;
    text-align: center;
}
.card p {
    text-align: justify;
    padding: 10px;
    margin: 0;
}
.card img {
    width: 200px;
    height: 250px;
    object-fit: cover;
    object-position: top;
    border-radius: 5px 5px 0 0;
}